
</h2>here are all your Tools!</h2>

<% if !@user_products.empty? %>
  <ul>
    <% @user_products.each do |product| %>
      <li><a href= "/products/<%= tool.id %>"><%= tool.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't currently have any tools! Would you like to <a href="/tool/new">add one</a>?</p>
<% end %>
<br>

<a href="/tools/new">New Product</a>