<% if !!@message %>
   <p class="danger"><%= @message %></p>
<% end %>

<form action="/chores" method="post">
   <label for="name">Enter name here:</label>
   <input type="text" name="name" id="name"><br>

   <label for="chore">Enter description here:</label>
   <input type="text" name="description" id="description"><br>

   <input type = "submit" value = "Add Chore">

</form>